{% extends "base.html" %}

{% block content %}

<h1>🔬 Clube de Ciências Margaret Burbidge</h1>

<p>
Este site tem como objetivo a divulgação de material de apoio para as olimpíadas científicas: OBA (Olimpíada Brasileira de Astronomia e Astronáutica), OBQ (Olimpíada Brasileira de Química) e OBB (Olimpíada Brasileira de Biologia). O desenvolvimento deste site foi um dos principais objetivos do Clube de Ciências Margaret Burbidge: Aprendendo, Construindo e Competindo, um projeto que participou do edital N. 10/2024 do Programa de Bolsas de Iniciação Científica Júnior de Alagoas (PIBIC Jr. Alagoas), com financiiamento da Fundação de Amparo à Pesquisa do Estado de Alagoas (FAPEAL).

<div class="cards">
    <a href="/astronomia">🌌 Astronomia</a>
    <a href="/quimica">🧪 Química</a>
    <a href="/biologia">🧬 Biologia</a>
</div>













{% endblock %}
