{% extends "base.html" %}

{% block content %}

<h1>🔬 PIBIC (Programa Institucional de Bolsas de Iniciação Científica)</h1>

<p>
Este site apresenta conteúdos científicos sobre Astronomia, Química e Biologia. Principalmente para o estudo de Olimpíadas Nacionais como a OBAA (Olimpíada Brasileira de Astronomia e Astronáutica), OBQ (Olimpíada Brasileira de Química) e OBB (Olimpíada Brasileira de Biologia). Além de informar os interessados em programas institucionais e ciências no geral.
</p>

<div class="cards">
    <a href="/astronomia">🌌 Astronomia</a>
    <a href="/quimica">🧪 Química</a>
    <a href="/biologia">🧬 Biologia</a>
</div>













{% endblock %}
